Source: python-dmidecode
XS-Python-Version: >= 2.3
Section: python
Priority: optional
Maintainer: Nima Talebi <nima@it.net.au>
Build-Depends: debhelper (>= 5), python-all-dev (>= 2.3.5-11), python-central (>= 0.6)
Standards-Version: 3.8.0

Package: python-dmidecode
XB-Python-Version: ${python:Versions}
Architecture: any
Provides: ${python:Provides}
Depends: ${python:Depends}, ${shlibs:Depends}
Description: Python extension module for dmidecode
 DMI (the desktop management interface) provides a standardized description of
 a computer's hardware, including characteristics such as BIOS serial number
 and hardware connectors.
 .
 This package provides an interface to the DMI data available from the BIOS.
 It is intended to be used as a back-end tool by other hardware detection
 programs implemented in python.
