#!/usr/bin/make -f

export DH_VERBOSE=0
PACKAGE = $(shell dh_listpackages)
PYVERS  = $(shell pyversions -vr)

################################################################################
#. Build
build: build-stamp
build-stamp: $(PYVERS:%=build-ext-%) $(PYVERS:%=build-dbg-ext-%)
	dh_testdir
	touch $@
build-ext-%:
	python$* src/setup.py build
	touch $@
build-dbg-ext-%:
	python$*-dbg src/setup.py build
	touch $@


################################################################################
#. Install
install: install-stamp
	dh_testdir
	dh_testroot
	dh_installdirs
install-stamp: build-stamp $(PYVERS:%=install-ext-%) $(PYVERS:%=install-dbg-ext-%)
install-ext-%:
	python$* src/setup.py install --root $(CURDIR)/debian/python-dmidecode
	touch $@
install-dbg-ext-%:
	python$*-dbg src/setup.py install --root $(CURDIR)/debian/python-dmidecode-dbg
	#find $(CURDIR)/debian/python-dmidecode-dbg/usr/lib/python$*/ ! -type d ! -name '*_d\.so' -delete
	#find $(CURDIR)/debian/python-dmidecode-dbg/usr/lib/python$*/ -depth -empty -delete
	touch $@


################################################################################
#. Binary
binary: binary-indep binary-arch
binary-indep:
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_pycentral
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


################################################################################
#. Clean
clean:
	dh_testdir
	dh_testroot
	$(MAKE) -f Makefile clean
	dh_clean build-stamp install-stamp \
	  $(PYVERS:%=install-ext-%) $(PYVERS:%=build-ext-%) \
	  $(PYVERS:%=install-dbg-ext-%) $(PYVERS:%=build-dbg-ext-%)

.PHONY: build clean binary-indep binary-arch binary install
